---
import { Image } from "astro:assets";
import avatar from "../../assets/images/cover/profile_picture.jpg";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<section
    class="h-full flex flex-col justify-center items-center gap-12 text-yellow-50 md:gap-8 md:flex-1 md:flex-row md:justify-center 2xl:py-40"
>
    <div
        class="flex flex-col justify-center items-center gap-y-4 px-8 md:gap-y-10 md:items-start md:p-0"
    >
        <!-- Laptop/Desktop -->
        <div class="hidden text-4xl font-semi md:flex flex-row gap-x-4">
            <h1 class="text-orange-300">Jes칰s Qui침ones</h1>
            <span>|</span>
            <h2 class="text-rose-300">Desarrollador Web</h2>
        </div>
        <!-- Mobile -->
        <div class="md:hidden flex flex-col gap-4">
            <h1 class="block text-center text-2xl font-semibold">
                춰Hola!游녦游낕<span class="block">Soy Jes칰s Qui침ones</span>
            </h1>
            <h2
                class="block text-center text-3xl text-orange-400 font-semibold"
            >
                Desarrollador Web
            </h2>
        </div>
        <article
            class="text-xl text-center md:text-left md:font-normal leading-6"
        >
            <p>Creo aplicaciones web utilizando un stack tecnol칩gico</p>
            <p>
                orientado a <span class="font-bold text-yellow-500"
                    >javascript</span
                > y algo de <span class="text-sky-600 font-bold">python</span>.
            </p>
            <p class="text-white">
                De <span class="text-indigo-300">Lecheria</span>, <span
                    class="text-rose-500 text-bold">Venezuela</span
                >.
            </p>
        </article>
        <nav
            aria-label="Redes sociales"
            class="flex flex-row items-center gap-x-6"
        >
            <a
                href="https://www.linkedin.com/in/sugabdev/"
                class="hover:scale-120 transition"
                aria-label="Linked in logo to redirect to my linkedin profile"
            >
                <LinkedinIcon class="size-12 md:size-16" />
            </a>
            <a
                href="https://github.com/Sugabdev"
                class="hover:scale-120 transition"
                aria-label="Github logo to redirect to my Github profile"
            >
                <GithubIcon class="size-12 md:size-16" />
            </a>
        </nav>
    </div>
    <Image
        src={avatar}
        alt="Jes칰s Qui침ones"
        class="rounded-full w-[40%] md:w-64 bg-white"
    />
</section>
