---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Cover from '../components/Cover.astro'
---

<Layout title="Personal Portfolio">
	<Header />
	<main class="h-full flex flex-column justify-center items-center">
		<Cover />
	</main>
</Layout>
