---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
import Cover from "../components/Cover.astro";
import RecentWorks from "../components/RecentWorks.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/footer/Footer.astro";
---

<Layout>
	<header
		id="cover-section"
		class="h-screen w-full flex flex-col md:justify-start bg-cover bg-no-repeat bg-center bg-fixed 2xl:h-auto"
		style="background-image: url('public/background.svg')"
	>
		<Header />
		<Cover />
	</header>
	<main class="flex flex-col justify-center items-center leading-none">
		<RecentWorks />
		<Projects />
		<AboutMe />
		<Contact />
	</main>
	<Footer />
</Layout>
