---
import ContactIcon from "./icons/ContactIcon.astro";
import SendIcon from "./icons/SendIcon.astro";
---

<section
    id="contact-section"
    class="w-full flex flex-col md:flex-row items-center md:items-start justify-center gap-16 bg-cover bg-no-repeat bg-center bg-fixed py-16 text-white"
    style="background-image: url('public/background.svg')"
>
    <div class="flex flex-col justify-center items-center gap-12 max-w-xs">
        <h1 class="text-5xl text-center md:text-left">
            ¿Algún proyecto en<span class="text-cyan-400 font-semibold">
                mente?</span
            >☁️
        </h1>
        <ContactIcon class="size-80" />
    </div>
    <form action="https://formspree.io/f/xanoowde" method="post">
        <fieldset
            class="min-w-xs flex flex-col justify-center items-start gap-4"
        >
            <label for="name" class="w-full flex flex-col gap-1">
                <span class="font-semibold">Nombre (opcional)</span>
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Ingresa tu nombre..."
                    class="bg-white text-gray-900 px-4 py-2 rounded-md"
                />
            </label>
            <label for="mail" class="w-full flex flex-col gap-1">
                <span class="font-semibold">Email</span>
                <input
                    type="email"
                    id="mail"
                    name="email"
                    placeholder="Ingresa tu email..."
                    required
                    class="bg-white text-gray-900 px-4 py-2 rounded-md"
                />
            </label>
            <label for="message" class="w-full flex flex-col gap-1">
                <span class="font-semibold">Mensaje</span>
                <textarea
                    name="message"
                    rows="12"
                    placeholder="¡Hola Jesús! Me gustaría realizar un proyecto contigo..."
                    required
                    class="bg-white text-gray-900 p-4 rounded-md"></textarea>
            </label>
            <input type="text" name="_gotcha" style="display:none" />
            <button
                type="submit"
                class="w-full flex flex-row justify-center gap-2 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xl px-5 py-2.5 text-center me-2 mb-2 leading-none"
            >
                Enviar
                <SendIcon class="size-4" />
            </button>
        </fieldset>
    </form>
</section>
