---
import Navtag from "./Navtag.astro";
import MobileMenu from "./MobileMenu.astro";
---

<section
    class="min-w-full flex justify-end md:justify-center text-yellow-50 p-4 md:mb-0 md:p-0"
>
    <nav
        class="hidden md:flex flex-row gap-10 px-12 bg-rose-900 rounded-b-2xl text-2xl shadow-2xl shadow-rose-950 2xl:w-full 2xl:rounded-none 2xl:justify-center"
    >
        <Navtag link="#cover-section">Inicio</Navtag>
        <Navtag link="#work-section">Trabajos recientes</Navtag>
        <Navtag link="#projects-section">Proyectos</Navtag>
        <Navtag link="#about-section">Sobre mí</Navtag>
        <Navtag link="#contact-section">Contácto</Navtag>
    </nav>
    <MobileMenu />
</section>
