<section class="w-full [bg-[#fff7ed] flex flex-col gap-8 items-center py-16">
    <h1 class="text-6xl">Sobre <span class="text-cyan-400">mí</span></h1>
    <article class="flex flex-row gap-16">
        <aside class="text-2xl max-w-md">
            <p class="mb-4">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Assumenda facilis perferendis deserunt consequatur, fugiat
                molestiae, accusamus consequuntur sint eum voluptas laborum
                nesciunt maxime necessitatibus, at dolorum ullam.
            </p>
            <p>
                Itaque, nisi beatae? Placeat exercitationem corporis quae fugiat
                omnis ipsa, accusantium obcaecati odit vero! Fuga, nisi atque
                cumque nemo neque dolores repudiandae minus odit possimus
                voluptas. Voluptates eveniet deleniti possimus vero, quos sequi!
            </p>
        </aside>
        <img
            src="public/about/contact-05.jpg"
            alt="Image about me"
            class="size-96 rounded-lg"
        />
    </article>
</section>
