<section class="flex flex-row gap-20">
    <aside>
        <h1 class="text-4xl mb-12 font-semi">
            <span class="text-orange-300">Jesús Quiñones</span> | <span class="text-rose-200">Desarrollador Web</span>
        </h1>
        <article class="text-2xl font-light">
            <p>Creo aplicaciones web utilizando un stack tecnológico</p>
            <p>orientado a <span>javascript</span> y algo de <span>python</span>.</p>
            <p>From Lecheria, Venezuela.</p>
        </article>
        <nav class="flex flex-row items-center gap-8 mt-12">
            <a
                href="https://www.linkedin.com/in/sugabdev/"
                class="hover:scale-120 transition"
            >
                <img
                    src="src/assets/linkedin-borderless.svg"
                    alt="Linked in logo to redirect to my linkedin profile"
                    class="max-w-16"
                >
            </a>
            <a
                href="https://github.com/Sugabdev"
                class="hover:scale-120 transition"
            >
                <img
                    src="src/assets/github-borderless.svg"
                    alt="Github logo to redirect to my Github profile"
                    class="max-w-16 scale-[1.1]"
                >
            </a>
        </nav>
    </aside>
    <img
        src="src/assets/avatar-profile.svg"
        alt="Profile picture"
        class="rounded-full max-w-80 bg-white"
    >
</section>