<footer
    class="w-full flex flex-col justify-center items-center bg-cover bg-no-repeat bg-center bg-fixed text-white"
    style="background-image: url('src/assets/background.svg')"
>
    <section class="flex flex-col items-center">
        <nav class="border-t-2 border-white p-8">
            <ul class="flex flex-row justify-center items-center gap-8">
                <li class="flex flex-row gap-2 items-center">
                    <img
                        src="src/assets/footer/home.svg"
                        alt="Ícono de home para el nav del inicio"
                        class="max-w-4"
                    />
                    <a href="#" class="text-[1.2rem] font-semibold leading-none h-full">Inicio</a>
                </li>
                <li class="flex flex-row gap-2 items-center">
                    <img
                        src="src/assets/footer/work-bag.svg"
                        alt="Ícono de un maletín para el nav de Proyectos"
                        class="max-w-4"
                    />
                    <a href="#" class="text-[1.2rem] font-semibold leading-none h-full">Proyectos</a>
                </li>
                <li class="flex flex-row gap-2 items-center">
                    <img
                        src="src/assets/footer/desktop.svg"
                        alt="Ícono de una estación de trabajo para el nav de Trabajos recientes"
                        class="max-w-4"
                    />
                    <a href="#" class="text-[1.2rem] font-semibold leading-none h-full">Trabajos recientes</a>
                </li>
                <li class="flex flex-row gap-2 items-center">
                    <img
                        src="src/assets/footer/profile.svg"
                        alt="Ícono de un avatar de perfil para el nav de Sobre mí"
                        class="max-w-4"
                    />
                    <a href="#" class="text-[1.2rem] font-semibold leading-none h-full">Sobre mí</a>
                </li>
                <li class="flex flex-row gap-2 items-center">
                    <img
                        src="src/assets/footer/phone.svg"
                        alt="Ícono de un teléfono para el nav de Contácto"
                        class="max-w-4"
                    />
                    <a href="#" class="text-[1.2rem] font-semibold leading-none h-full">Contácto</a>
                </li>
            </ul>
        </nav>
        <nav class="border-t-2 border-white p-8">
            <ul class="flex flex-row gap-8">
                <li>
                    <img
                        src="src/assets/footer/github-filled-rounded.svg"
                        alt="Github"
                        class="size-16"
                    />
                </li>
                <li>
                    <img
                        src="src/assets/footer/linkedin-filled.svg"
                        alt="Linkedin"
                        class="size-16"
                    />
                </li>
                <li>
                    <img
                        src="src/assets/footer/gmail.svg"
                        alt="Gmail"
                        class="size-16"
                    />
                </li>
            </ul>
        </nav>
    </section>
    <section class="w-full font-semibold py-4 bg-rose-950 text-center text-lg"><p>2025 Copyright. Todos los derechos reservados.</p></section>
</footer>