<header class="min-w-full flex justify-center text-yellow-50">
    <nav class="fixed flex gap-10 px-12 bg-rose-900 rounded-b-2xl text-2xl shadow-2xl shadow-rose-950">
        <a href="#" class="py-4 px-4 hover:underline transition-all">Inicio</a>
        <a href="#" class="py-4 px-4 hover:underline transition-all">Proyectos</a>
        <a href="#" class="py-4 px-4 hover:underline transition-all">Trabajos recientes</a>
        <a href="#" class="py-4 px-4 hover:underline transition-all">Sobre mí</a>
        <a href="#" class="py-4 px-4 hover:underline transition-all">Contácto</a>
    </nav>
</header>