<header class="min-w-full flex justify-center">
    <nav class="flex gap-20 py-4 px-12 bg-rose-900 rounded-b-2xl text-2xl shadow-2xl shadow-rose-950">
        <a href="#">Inicio</a>
        <a href="#">Proyectos</a>
        <a href="#">Trabajos recientes</a>
        <a href="#">Sobre mí</a>
        <a href="#">Contácto</a>
    </nav>
</header>