---
const works = [
    {
        Job: "Anal칤sta de Sistemas y Tecnolog칤a",
        Company: "Balanceados El Morro, C.A. (VE)",
        Duration: "2023 - 2024",
        Description:
            "Entre mis principales funciones se destacaban el dar soporte a los usuarios con equipos de ofim치tica y cualquier software que utilizaran en su d칤a a d칤a. Monitorear y dar soporte a la red empresarial. Dar soporte a las c치maras de seguridad. El desarrollo de aplicaciones de escritorio.",
    },
    {
        Job: "Tecn칩logo en Electr칩nica",
        Company: "Alcald칤a del Municipio Diego Bautista Urbaneja. (VE)",
        Duration: "2022",
        Description:
            "Mantenimiento e inventario de fuentes de poder de computadores, an치lisis de su estado y condici칩n.",
    },
];
---

<section
    id="work-section"
    class="w-full bg-[#fff7ed] flex flex-col items-center gap-8 py-16 text-2xl text-gray-800 px-8 md:px-0"
>
    <h1 class="text-6xl">
        <span class="text-4xl">游눺</span> Trabajos Recientes
    </h1>
    {
        works.map(({ Job, Company, Duration, Description }) => (
            <article class="max-w-2xl flex flex-col gap-4">
                <div>
                    <h2 class="opacity-60">{Duration}</h2>
                    <h1 class="text-4xl font-semibold">{Job}</h1>
                    <h3 class="opacity-80">{Company}</h3>
                </div>
                <p>{Description}</p>
            </article>
        ))
    }
</section>
